[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
pytest = "*"
requests = "*"
flask-sqlalchemy = "*"
passlib = "*"
psycopg2-binary = "*"
coverage = "*"
flask-wtf = "*"
google-cloud-vision = "*"
flask-migrate = "*"
exif = "*"

[requires]
python_version = "3.6"
