{% extends "base.html" %}

{% block title %}My history{% endblock %}

{% block content %}
{% if history|length > 0 %}
  <div class="{% include 'partials/wizard_text.html' %}">
    <p>Your past submissions are below. Thank you for your help, my apprentice.</p>
  </div>
  {% include 'partials/wizard_neutral.html' %}

  <table class="nes-table nes-table-responsive is-bordered is-centered is-dark">
    <thead>
      <th>Today</th>
      <th>This week</th>
      <th>All time</th>
    </thead>
    <tbody>
      <tr>
        <td>{{ today_count }}</td>
        <td>{{ week_count }}</td>
        <td>{{ all_time_count }}</td>
      </tr>
    </tbody>
  </table>
  {% for what in history %}
    <div class="nes-container is-dark history-image">
      <p>{{ what.adjective.title() }} {{ what.noun.title() }} ({{ what.result }})</p>
      <img src="uploads/{{ what.image }}" alt="User's image for {{ what.adjective.title() }} {{ what.noun.title() }}">
      <p class="player-username">By: {{ g.user.username }}</p>
      <p class="submitted-date">{{ what.time }}</p>
    </div>
  {% endfor %}

{% else %}
  <div class="{% include 'partials/wizard_text.html' %}">
    <p>Apprentice, you have no submissions yet. <a href="/play">Make your first submission</a> to see your submissions here.</p>
  </div>
  {% include 'partials/wizard_neutral.html' %}
{% endif %}
{% endblock content %}

