{% extends "base.html" %}

{% block title %}All Players{% endblock %}

{% block content %}
  <div class="{% include 'partials/wizard_text.html' %}">
    <p>Other player's submissions are below. I have a lot of helpful apprentices!</p>
  </div>
  {% include 'partials/wizard_neutral.html' %}

  {% for what in compiled %}
    <div class="nes-container is-dark history-image">
        <p>{{ what.adjective.title() }} {{ what.noun.title() }}</p>
        <img src="uploads/{{ what.image }}" alt="{{ what.adjective.title() }} {{ what.noun.title() }}">
        <p class="player-username">By: {{ what.user.title() }} ({{ what.score}})</p>
        <p class="submitted-date">{{ what.time }}</p>
      </div>
  {% endfor %}

{% endblock content %}


