{% extends "base.html" %}

{% block title %}Play{% endblock %}

{% block content %}
<div class="{% include 'partials/wizard_text.html' %}">
    <p>Apprentice, I seem to have forgotten what a <span class="wizard_prompt">{{ prompt.adjective }} {{ prompt.noun }}</span> looks like. Please send me a photo of one to remind me what it looks like.</p>
  </div>
  <form action="/play" method="POST"  enctype="multipart/form-data" class="wizard_buttons">
    {{ form.csrf_token }}
    {{ form.file_upload(class_="upload") }}
    {{ form.file_upload.label(class_="nes-btn") }}
    <button type="submit" class="nes-btn is-primary">Submit</button>
  </form>
  {% include 'partials/wizard_neutral.html' %}
{% endblock content %}
