{% extends "base.html" %}

{% block title %}Submission{% endblock %}

{% block content %}
  <div class="{% include 'partials/wizard_text.html' %}">
    <p>So, is this what a <span class="wizard_prompt">{{ prompt.adjective }} {{ prompt.noun }}</span> looks like.</p>
  </div>
  <div class="wizard_buttons">
    <a href="{{ url_for('.feedback') }}" class="nes-btn is-primary"> Yes!</a>
    <a href="{{ url_for('.play') }}" class="nes-btn"> No, try again </a>
  </div>
  {% include 'partials/wizard_neutral.html' %}

  <div class="nes-container image_preview">
    <img src="{{ image_path }}" alt="User uploaded image">
  </div>


{% endblock content %}
