<!DOCTYPE html>
<html>
<head>
  {% include 'partials/head.html' %}
  <title>Wizard's Apprentice</title>
</head>
<body>
  <header>
    <p><a href="{{ url_for('.home') }}">Wizard's Apprentice</a></p>
    {% include 'partials/nav.html' %}
  </header>
  <main>
    <h1>Wizard</h1>
    {% for message in get_flashed_messages() %}
      <div class="nes-container flashed_message">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock content%}
  </main>
  <footer>
    copy2018
  </footer>
  <script src="js/app.js"></script>
</body>
</html>
