{% extends "base.html" %}

{% block content %}
  <div class="feedback">
    {% if adjective == True and noun == True %}
      <h3 class="">You got it!</h3>
    {% elif adjective == False and noun == True %}
      <h3 class="">That looks like a {{ prompt.noun }}, but it's not {{ prompt.adjective }}. Try again!</h3>
    {% elif adjective == True and noun == False %}
      <h3 class="">Well... it's {{ prompt.adjective }}, but it's not even a {{ prompt.noun }}. Try again!</h3>
    {% else %}
      <h3 class="">This is not a {{ prompt.noun }}. It's not even {{ prompt.adjective }}! Are you trying to deceive me? To the dungeon with you!</h3>
    {% endif %}
  </div>
  <div class="img-wizard">
    <!-- Wizard's picture here -->
  </div>
  <div class="">
    <button type="button"><a href="{{ url_for(".play") }}"> Try Again </a></button>
  </div>
{% endblock content %}
