{% extends "base.html" %}

{% block content %}
  <div class="players">
    <h2>Today's photos:</h2>
  </div>
  <div class="">
    <!-- List time of the pictures -->
    {% for what in top_3 %}
      <p> Time: {{ what.submission_time }} </p>
    {% endfor %}
  </div>

  <div class="">
    <!-- List path of the pictures -->
    {% for what in top_3 %}
      <p> Path: {{ what.image_path }} </p>
      <img src="uploads/{{ what.image_path }}" alt="">
    {% endfor %}
  </div>




{% endblock content %}


