{% extends "base.html" %}

{% block content %}
  <div class="{% include 'partials/wizard_text.html' %}">
    <p>So, is this what a {{ prompt.adjective }} {{ prompt.noun }} looks like.</p>
  </div>
  <div class="wizard_buttons">
    <a href="{{ url_for('.feedback') }}" class="nes-btn is-primary"> Yes, submit! </a>
    <a href="{{ url_for('.play') }}" class="nes-btn"> No, try again </a>
  </div>
  {% include 'partials/wizard_neutral.html' %}

  <div class="nes-container image_preview">
    <img src="uploads/{{ image_path }}" alt="User uploaded image">
  </div>


{% endblock content %}
