<nav>
  <label for="hamburger-menu" class="btn"><i class="fas fa-bars"></i></label>
  <input type="checkbox" id="hamburger-menu">
  <ul>
    <li><a href="{{ url_for('.home') }}">Home</a></li>
    {% if g.user %}
      <li><a href="{{ url_for('.play') }}">Play</a></li>
      <li><a href="{{ url_for('.history') }}">My History</a></li>
      <li><a href="{{ url_for('.players') }}">All Players</a></li>
      <li><a href="{{ url_for('.logout') }}">Logout</a></li>
    {% else %}
      <li><a href="{{ url_for('.register') }}">Register</a></li>
      <li><a href="{{ url_for('.login') }}">Login</a></li>
    {% endif %}
  </ul>
</nav>
